<section class="dataset-status">
    <div class="status-content">
      <i class="fa-solid fa-circle-exclamation" style="color: #fa830b;"></i>
      <!-- <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/59b69316eb1dc167d496fa11d153f35533febf2c8b3d302914a789823168c276?apiKey=57cc64fc12b74717af3404d1085676ef&" class="status-icon" alt="Dataset status icon" /> -->
      <p class="status-message">The dataset has not undergone any processing</p>
      <button class="status-action">Ok</button>
    </div>
  </section>