.component {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.content {
  margin-top: 20px;
}

.slider {
  width: 100%;
  /* background: linear-gradient(
    to right,
    #d70270 0%,
    #d70270 {{commentsCount/100}}%,
    #eee {{commentsCount/100}}%
  ); */
  border-radius: 5px;
}

.count-display {
  position: absolute;
  margin-top: -25px;

  transform: translateX(-50%);
  background-color: #ff9800;
  border-radius: 50%;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
}
