.checkbox-container {
    display: flex;
    align-items: center;
  }
  
  .checkbox-label {
    display: flex;
    align-items: center;
  }
  
  .checkbox-label input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #5C4ABD;
    border-radius: 4px;
    background-color: #fff; /* default background color */
    margin-right: 8px;
    position: relative;
  }
  
  .checkbox-label input[type="checkbox"]:checked {
    background-color: #5C4ABD;
    border-color: #5C4ABD;
  }
  
  .checkbox-label input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 1px;
    left: 5px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  
  .checkbox-label input[type="checkbox"].error-border {
    border-color: red;
  }
  
  .checkbox-text {
    font-size: 14px;
    color: #000;
  }
  