<div [formGroup]="form" class="checkbox-container">
    <label class="checkbox-label">
      <input 
        type="checkbox" 
        formControlName="acceptTerms" 
        [ngClass]="{'error-border': form.controls['acceptTerms'].invalid && form.controls['acceptTerms'].touched}"
      />
      <span class="checkbox-text">
        {{ checkboxText }} 
        <a [href]="termsLink" target="_blank">les conditions d’utilisation</a> 
        et 
        <a [href]="privacyLink" target="_blank">la politique de confidentialité</a>.
      </span>
    </label>
  </div>
  