<!-- closed sidebar -->
<aside class="sidebar">
  <div class="sidebar-icons">
      <a href="#" class="sidebar-icon icon-spacing">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/d67ca82beb674fceae497cd04e37c7f8883afada31d2a880044c2bb8fc3e49f0?apiKey=61d204e0c12947c1a81bbc8591c17a9c&" alt="" />
      </a>
      <a href="#" class="sidebar-icon icon-spacing">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/d2d7c56b38ca38adb3abf6d4ead80ea33dd80510b0ade876939d4109d43ed859?apiKey=61d204e0c12947c1a81bbc8591c17a9c&" alt="" />
      </a>
      <a href="#" class="sidebar-icon icon-spacing-large">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/3f3af5a133fc9ea31dbc8b7da1f93923a2bfe65176756c63c72230de98cf64d3?apiKey=61d204e0c12947c1a81bbc8591c17a9c&" alt="" />
      </a>
      <a href="#" class="sidebar-icon icon-square icon-spacing-large">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/d6085be58a987f25f9682011fea7ac080938e1b61649102961b846fd66df0362?apiKey=61d204e0c12947c1a81bbc8591c17a9c&" alt="" />
      </a>
      <a href="#" class="sidebar-icon icon-square icon-spacing-large">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/784dbfafb06e4258e256bb8f5fd4cc70c5cc63d375d2af06d19f23d67090d319?apiKey=61d204e0c12947c1a81bbc8591c17a9c&" alt="" />
      </a>
      <a href="#" class="sidebar-icon icon-spacing">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/f6dc59cede0a3373ae706c815df0522f08d6997c808c796265f29a1160271eca?apiKey=61d204e0c12947c1a81bbc8591c17a9c&" alt="" />
      </a>
      <a href="#" class="sidebar-icon icon-square icon-spacing-extra">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/7ad373b8c7af0d30d6727234d331b27ac0fc5b74614c4d4c119bc4997373a407?apiKey=61d204e0c12947c1a81bbc8591c17a9c&" alt="" />
      </a>
      <a href="#" class="sidebar-icon icon-spacing">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/74b7472409a40fce6d3e62a8ec0daf00d4926ef261cc4c322e93a45935312658?apiKey=61d204e0c12947c1a81bbc8591c17a9c&" alt="" />
      </a>
      <a href="#" class="sidebar-icon icon-wide icon-spacing-large">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/170e3ff4142375835249251397b1e76b2f8ba9cbdfd02800cd44dc1594782880?apiKey=61d204e0c12947c1a81bbc8591c17a9c&" alt="" />
      </a>
      <a href="#" class="sidebar-icon icon-extra-wide icon-spacing-large">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/7fd36c9326c7b69fe746db5513450a51e36b2311dde74a78a19bf7143da784cc?apiKey=61d204e0c12947c1a81bbc8591c17a9c&" alt="" />
      </a>
  </div>
</aside>
