<article class="facebook-card">
  <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/deb4e46515ddb212c1451f37bd4f846272c7bfed363e8c0234befbe4086b47e8?apiKey=61d204e0c12947c1a81bbc8591c17a9c&" class="facebook-icon" alt="Facebook logo" />
  <h2 class="facebook-title">Facebook</h2>
</article>
<article class="x-twitter-card">
  <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/b3c0e17ec735a5e82913ef3314b9e9e9485f17d8030d668bfee976c296084d3c?apiKey=61d204e0c12947c1a81bbc8591c17a9c&" class="x-twitter-logo" alt="X-Twitter logo" />
  <h2 class="x-twitter-text">X-Twitter</h2>
</article>
<article class="youtube-card">
  <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/e9c0239c917590a08746d07eb16751e89c8d047af1245b72a4f06c0d6db5d2c0?apiKey=61d204e0c12947c1a81bbc8591c17a9c&" class="youtube-icon" alt="YouTube icon" />
  <h2 class="youtube-title">YouTube</h2>
</article>
<section class="facebook-page-card">
  <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/ca98c61ab572fc64e273fbb3b4358124e69af4baaeac805f8ec9218ec015b19a?apiKey=61d204e0c12947c1a81bbc8591c17a9c&" class="facebook-icon" alt="Facebook icon" />
  <h2 class="card-title">Get Facebook Page</h2>
</section>
<article class="facebook-posts-card">
  <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/822ca6c128d40ef319f6a6cd61fe6b09da665d0e398f7f48b47cc74fa5e7e69b?apiKey=61d204e0c12947c1a81bbc8591c17a9c&" class="facebook-icon" alt="Facebook icon" />
  <h2 class="card-title">Get Facebook Posts</h2>
</article>

<article class="facebook-comments-card">
  <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/8b34f9e090248b629192e6c23d14bd676b1050536ae7e212f9b28e1a95e26e31?apiKey=61d204e0c12947c1a81bbc8591c17a9c&" alt="Facebook icon" class="facebook-icon" />
  <h2 class="card-title">Get Facebook comments</h2>
</article>
