:host {
    display: inline-block;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    border-radius: 100px;

  }
  
  .dropbtn {
    background-color: white;
    color: #555;
    padding: 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 100px;
    text-align: left;
    width: 1000px;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    margin-top: 5px;
     width: 100%;
     border-radius: 10px;
  }
  .dropdown-content a {
    color: #838383;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
  
  .dropdown-content a:hover {
    background-color: #5C4ABD;
  }
  
  .dropdown-content.show {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #f1f1f1;
    border-color: #5C4ABD;
    border-width: 2px;
  }
 label{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
 }
.label{
  display: flex;
  flex-direction: column;
 }

 .text{
    font-family: "Montserrat", sans-serif;
    border-radius: 100px;    
    border-color: #838383;
 }