label {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text, .number {
  font-family: "Montserrat", sans-serif;
  border-radius: 100px;
  border: 1px solid #e7e7e79c;
  padding: 16px 20px;
  font-size: 25px;
  text-decoration: light;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
  max-width: 100%;
  width: 95%;
  margin-top: 9px;
}
