<div class="input-container" [ngStyle]="{'width': width}">
  <label *ngIf="label">{{ label }}</label>

  <div *ngIf="type === 'normal'">
    <input type="text" [(ngModel)]="value"  [placeholder]="placeholder" />
  </div>
  <div *ngIf="type === 'disabled'">
    <input type="text" [(ngModel)]="value" disabled style="border-color: #B4B4B4;
    background-color: #f5f4f1d8;;" [placeholder]="placeholder" />
  </div>
  <div *ngIf="inputmode === 'numeric'">
    <input
      type="number"
      inputmode="numeric"
      [(ngModel)]="value"
      [placeholder]="placeholder"
      (ngModelChange)="validateNumber()"
    />
    <div *ngIf="!isNumber" style="color: red;">
      Please enter a valid number.
    </div>
  </div>
</div>
