<!-- src/app/sidebar/sidebar.component.html -->
<div class="sidebar">
    <div class="logo">
      <img src="path-to-your-logo" alt="e-voucher path">
    </div>
    <div class="nav-container">
      <a href="#" class="dashboard-link">
        <div class="dashboard-bg"></div>
        <svg class="dashboard-icon" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.5 0.5C5.69998 0.5 0.5 5.69998 0.5 11.5C0.5 17.3 5.69998 22.5 11.5 22.5C17.3 22.5 22.5 17.3 22.5 11.5C22.5 5.69998 17.3 0.5 11.5 0.5ZM11.5 20.5C6.80498 20.5 2.5 16.195 2.5 11.5C2.5 6.80498 6.80498 2.5 11.5 2.5C16.195 2.5 20.5 6.80498 20.5 11.5C20.5 16.195 16.195 20.5 11.5 20.5ZM10.5 6.5H12.5V12.5H10.5V6.5ZM10.5 14.5H12.5V16.5H10.5V14.5Z" fill="white" />
        </svg>
        <span class="dashboard-text">Tableau de bord</span>
      </a>
      <nav>
        <div class="nav-item">
          <svg class="nav-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <!-- SVG Path for List Icon -->
          </svg>
          <span class="nav-text">Liste demandes</span>
        </div>
        <div class="nav-item">
          <svg class="nav-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <!-- SVG Path for Identity Icon -->
          </svg>
          <span class="nav-text">Identité patient</span>
        </div>
        <div class="nav-item">
          <svg class="nav-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <!-- SVG Path for Requests Icon -->
          </svg>
          <span class="nav-text">Demandes en cours</span>
        </div>
        <div class="nav-item">
          <svg class="nav-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <!-- SVG Path for Archive Icon -->
          </svg>
          <span class="nav-text">Demandes archivés</span>
        </div>
        <div class="nav-item">
          <svg class="nav-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <!-- SVG Path for Labs Icon -->
          </svg>
          <span class="nav-text">Liste Laboratoires</span>
        </div>
        <div class="nav-item">
          <svg class="nav-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <!-- SVG Path for Couriers Icon -->
          </svg>
          <span class="nav-text">Listes coursiers</span>
        </div>
        <div class="nav-item">
          <svg class="nav-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <!-- SVG Path for Doctors Icon -->
          </svg>
          <span class="nav-text">Listes médecins</span>
        </div>
      </nav>
      <div class="divider"></div>
      <div class="notification-container">
        <div class="notification-item">
          <svg class="notification-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <!-- SVG Path for Notification Icon -->
          </svg>
          <span class="notification-text">Notification</span>
          <span class="notification-badge">6</span>
        </div>
        <div class="notification-item">
          <svg class="notification-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <!-- SVG Path for Messages Icon -->
          </svg>
          <span class="notification-text">Messages</span>
        </div>
        <div class="notification-item">
          <svg class="notification-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <!-- SVG Path for Settings Icon -->
          </svg>
          <span class="notification-text">Paramètre</span>
        </div>
      </div>
    </div>
    <div class="profile">
      <img src="path-to-profile-picture" alt="Dr Slimani Amlah">
      <div class="profile-info">
        <span class="profile-name">Dr Slimani Amlah</span>
        <span class="profile-role">Administrateur</span>
      </div>
    </div>
  </div>
  