.header-container {
  display: flex;
  gap: 20px;
  margin: 47px 13px;
}
@media (max-width: 991px) {
  .header-container {
    flex-wrap: nowrap;
  }
}

nav {
  justify-content: flex-end;
}
.logo {
  aspect-ratio: 4.35;
  object-fit: auto;
  object-position: center;
  width: 200px;
  max-width: 100%;
}
.nav-wrapper {
  align-self: start;
  display: flex;
  align-items: start;
  gap: 10px;
  flex: 1;
  padding: 0 20px;
}
.user-avatar {
  aspect-ratio: 0.98;
  object-fit: auto;
  object-position: center;
  width: 43px;
  border-radius: 54px;
  border: 1px solid #fff;
  background-color: black;
}
svg {
  margin: auto;
}
.language-selector {
  position: relative;
  border-radius: 54px;
  border: 1px solid #fff;
  background-color: #000;
  display: flex;
  gap: 10px;
  font-size: 9px;
  color: #fff;
  font-weight: 400;
  white-space: nowrap;
  padding: 11px 18px;
  cursor: pointer;
}
@media (max-width: 991px) {
  .language-selector {
    white-space: initial;
  }
}
.language-icon {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 22px;
}
.language-text {
  font-family: Montserrat, sans-serif;
  margin: auto 0;
}
.language-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 15px;
  z-index: 1000;
}
.language-dropdown.show {
  display: block;
}
.language-dropdown button {
  background: none;
  border: none;
  color: #fff;
  padding: 10px 15px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.language-dropdown button:hover {
  background-color: #333;
  border-radius: 20px;

}
.menu-button {
  border-radius: 54px;
  border: 1px solid #fff;
  background-color: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}
.menu-icon {
  aspect-ratio: 1.02;
  object-fit: auto;
  object-position: center;
  width: 43px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
img{
  border-radius: 15px;
}
