<!-- Button-Text -->
<!-- button-container Primary text -->
<button class="button">Button Label</button>

<!-- button-container secondary text -->
<button class="button-label">Button Label</button>

<!-- button-container Tertiary text -->
<button class="custom-button">Button Label</button>

<!-- Button-Text&Icon -->
<!-- button-container Primary text&icon  -->
<button class="button-container">
  <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/b75519fbf71bff1887d43117c3dfeaacc48f9ff9826a7cab8573a0ca9b13d77b?apiKey=a344534572a0466dba893851fbc6de83&" class="button-icon" alt="" />
  <span class="button-text">Button Label</span>
  <span class="visually-hidden">Click to perform action</span>
</button>

<!-- button-container Secondary text&icon  -->
<button class="bouton-conteneur">
  <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/118a781627de1076f2f96227024abddae1f5edc98b19d753551234478179f963?apiKey=a344534572a0466dba893851fbc6de83&" class="bouton-icone" alt="" />
  <span class="bouton-texte">Button Label</span>
</button>

<!-- button-container Tertiary text&icon  -->
<button class="custom-button">
  <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/118a781627de1076f2f96227024abddae1f5edc98b19d753551234478179f963?apiKey=a344534572a0466dba893851fbc6de83&" alt="" class="custom-button-icon" />
  <span>Button Label</span>
</button>

<!-- button-container Primary Icon  -->


<!-- button-container Secondary Icon  -->
