.facebook-button {
  border-radius: 33px;
  border: 1px solid;
  border-color: #fa830b;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
  background-color: #fa830b;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px 20px;
  font-size: 13px;
  color: #fff;
  font-weight: 700;
}

.button-text {
  font-family: Montserrat, sans-serif;
}

.icon {
  width: 9px;
  height: 17px;
  object-fit: contain;
  margin-left: 10px;
}
