<!-- <ng-container *ngIf="type === 'dropdown'">
  <div class="channel-selection">
    <select name="channel-options">
      <option value="channel">Channel</option>
      <option value="video">Video</option>
      <option value="playlist">Playlist</option>
      <option value="film">Film</option>
    </select>
  </div>
</ng-container>

<ng-container *ngIf="type === 'languagedropdown'">
  <div class="language-selector" (click)="toggleDropdown()" [ngStyle]="{'width': width}">
    <img [src]="url" alt="" class="language-icon" />
    <span class="language-text">{{ selectedLanguage }}</span>
    <div class="language-dropdown" [ngClass]="{ show: dropdownOpen }">
      <button
        *ngFor="let lang of languages"
        (click)="changeLanguage(lang.code)"
      >
        <div class="options">
          <img [src]="lang.url" alt="" class="language-icon" />
          {{ lang.label }}
        </div>
      </button>
    </div>
  </div>
</ng-container> -->


<!-- <div class="channel-selection">
  <div class="select-wrapper">
      <select class="custom-select" id="channelSelect">
          <option value="" disabled selected>Channel</option>
          <option value="video">Video</option>
          <option value="channel">Channel</option>
          <option value="playlist">Playlist</option>
          <option value="film">Film</option>
      </select>
      <svg class="select-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#707070" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <polyline points="6 9 12 15 18 9"></polyline>
      </svg>
  </div>
</div> -->

<div class="categories-container">
  <label for="categorySelect" class="visually-hidden">Select a category</label>
  <select id="categorySelect" class="category-select" aria-label="Select a category">
      <option value="">Catégoire Lait par nom</option>
      <option value="">Banques Commerciales par nom</option>
      <option value="" selected>Écoles supérieures</option>
      <option value="">Touch points</option>
      <option value="">Orange</option>
      <option value="">Ecoles supérieures Maroc</option>
      <option value="">FRMF</option>
  </select>
</div>
